@import "tailwindcss";

@font-face {
  font-family: "Monoton";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/monoton/monoton-regular-webfont.woff2") format("woff2"),
    url("/fonts/monoton/monoton-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "Alata";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/alata/alata-regular-webfont.woff2") format("woff2"),
    url("/fonts/alata/alata-regular-webfont.woff") format("woff");
}
/* "spin-slow": "spin 7s linear infinite", */


@theme {
    --font-brand: 'Monoton', sans-serif;
    --font-primary: 'Alata', sans-serif;
}


