@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  
  @font-face {
    font-family: "Monoton";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/monoton/monoton-regular-webfont.woff2') format('woff2'),
         url('/fonts/monoton/monoton-regular-webfont.woff') format('woff');
  }
  
  @font-face {
    font-family: "Alata";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/alata/alata-regular-webfont.woff2') format('woff2'),
         url('/fonts/alata/alata-regular-webfont.woff') format('woff');
    
  }
}

@layer utilities {
  @responsive {
    .animate-translate {
      animation: wave 2s linear infinite;
    }
  }

  @keyframes wave {
    0% {
      transform: translateX(-12.5rem);
    }

    100% {
      transform: translateX(0);
    }
  }
}
